
body {
  margin: 0;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica' !important;
}

code {
  font-family: 'Helvetica';
}


.nav-link{
  color: white !important;
}
#carousel{
  max-height: 500px;
}
.carousalImg{
  object-fit: contain !important;
}